<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite" verbose="1">
    <test name="Test1">
<!--        <classes>-->
<!--            <class name="chixinhcoding.a1_firstpackage.firstclass" />-->
<!--            <class name="chixinhcoding.a1_firstpackage.secondclass" />-->
<!--            <class name="chixinhcoding.a2_secondpackage.secondclass" />-->
<!--        </classes>-->
<!--        <packages>-->
<!--            <package name="a1_firstpackage"></package>-->
<!--            <package name="a2_secondpackage"></package>-->
<!--        </packages>-->
        <classes>
            <class name="chixinhcoding.a1_firstpackage.firstclass">
                <methods>
                    <exclude name="firstMethod" />
                </methods>
            </class>
<!--            <class name="chixinhcoding.a2_secondpackage.secondclass">-->
<!--                <methods>-->
<!--                    <include name="firstMethod" />-->
<!--                </methods>-->
<!--            </class>-->
        </classes>

    </test>
</suite>